body{
    font-family:Arial,sans-serif;
    margin:0;
    padding:0;

}
.grid-container{
    display:grid;
    grid-template-areas: 
    "header header" 
    "siderbar main-container"
    "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 250px;
    height: 100vh;
}
.header{
    grid-area: header;
    background-color: green;
    color:aliceblue;
    text-align: center;
    padding: 1rem;
}
.siderbar{
    grid-area: siderbar;
    background-color: rgb(11, 138, 241);
    color:rgb(7, 7, 7);
    padding: 1rem;

}
.main-container{
    grid-area: main;
    background-color: aliceblue;
    padding:1rem;
}
.footer{
    grid-area: footer;
    background-color: black;
    color:aliceblue;
    text-align: center;
}
@media(max-width:768px){
    .grid-container{
        grid-template-areas:"
        "header"
        "main-container"
        "siderbar"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        
    }
    .siderbar{
        border-right:none;
        border-top: 1px solid ghostwhite;

    }
}